<div class="cards-container">
  <h2>Meus Cartões</h2>

  <ul class="cards-list">
    <li class="card-item">
      <div class="card-info">
        <i class="bi bi-credit-card-2-front-fill card-icon"></i>
        <div>
          <span class="card-type">Cartão de Crédito</span>
          <span class="card-number">**** **** **** 1234</span>
          <span class="card-validity">Validade: 08/25</span>
        </div>
      </div>
      <button class="btn-details"  routerLink="/account/cards/details-card">Ver Detalhes</button>
    </li>

    <li class="card-item">
      <div class="card-info">
        <i class="bi bi-credit-card-2-front card-icon"></i>
        <div>
          <span class="card-type">Cartão de Débito</span>
          <span class="card-number">**** **** **** 5678</span>
          <span class="card-validity">Validade: 12/24</span>
        </div>
      </div>
      <button class="btn-details">Ver Detalhes</button>
    </li>

    <li class="card-item">
      <div class="card-info">
        <i class="bi bi-credit-card-front card-icon"></i>
        <div>
          <span class="card-type">Cartão Adicional</span>
          <span class="card-number">**** **** **** 9876</span>
          <span class="card-validity">Validade: 03/26</span>
        </div>
      </div>
      <button class="btn-details">Ver Detalhes</button>
    </li>
  </ul>
</div>
